
  <nav class="navbar navbar-expand navbar-dark bg-light class" >
    <div class="container-fluid ">
      <img class="i" src="../assets/icLogoCarMindx2.png" width="55"><a class="navbar-brand a " href="#">CardMind</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto ul-items mb-lg-0">
          <li class="nav-item item-solo">
            <a href="#" class="nav-link"><img class="img" src="../assets/icon-notificacion.svg" alt=""></a>
          </li>
          <li class="nav-item item-solo-1">
            <a href="#" class="nav-link"><img class="img" src="../assets/icon-configuracion.svg" alt=""></a>
          </li>
          <li class="nav-item item-solo-2">
            <a href="#" class="nav-link"><img class="img" src="../assets/icon-perfil.svg" alt=""></a>
          </li>
          <li class="nav-item dropdown item-solo-3 ">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Nombre
            </a>

            <ul class="dropdown-menu item-solo-4 " aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>

          <li class="nav-item">

          </li>
        </ul>

      </div>
    </div>
  </nav>
<app-sidebar></app-sidebar>


