<div class="m-container clase-padre">
    <div class="container">
        <div class="row justify-content-center mt-4">
            <div class="col-10 mt-4 mb-4">
                <div class="mb-4"></div>
                <h3>Vehículos</h3>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-lg-10">
                <div class="row">
                    <div class=" col-lg-3 col-xs-10  mb-4">
                        <button id="addFormButton" (click)="formAssignment()" class="btn btn-success m-btn-success m-btn w-100 truncate">Asignar formulario</button>
                    </div>
                    <div class=" col-lg-3 col-xs-10  mb-4">
                        <button id="addDocButton" (click)="addDocument(vehicle.id)" class="btn btn-primary m-btn-acento m-btn w-100 truncate">Adjuntar documento</button>
                    </div>
                    <div class=" col-lg-3 col-xs-10  mb-4">
                        <button id="makeCheckButton" *ngIf="vehicle?.id && vehicle?.averiado" [routerLink]="'/'+this.getAppRoutes.platform.vehicles.review.route(vehicle.id)" class="btn btn-primary m-btn-acento m-btn w-100 truncate">Hacer revisión</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-10 mt-4 mb-4">
                <div class="row profile-row">
                    <div class="col vehicle-col">
                        <div class="card card-x" [ngClass]="{ 'animated-background' : !vehicle }">
                            <ng-container *ngIf="vehicle">
                                <div class="contenedor">
                                    <img *ngIf="vehicle?.tipo" src="assets/images/cars/{{vehicle.tipo}}.png" class="card-img-top" alt="...">
                                </div>
                                <div class="card-body">
                                    <h6 class="card-text fw-700">{{ vehicle.nombre}}</h6>
                                    <p *ngIf="vehicle.en_uso" class="p fw-400">En uso <i class="fa fa-circle" aria-hidden="true"></i></p>
                                    <p *ngIf="!vehicle.en_uso" class="p disponible fw-400">Disponible <i class="fa fa-circle" aria-hidden="true"></i></p>
                                    <i (click)="qrCode()" class="fa fa-qrcode pointer" aria-hidden="true"></i>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card-2" [ngClass]="{ 'animated-background' : !vehicle }">
                            <ng-container *ngIf="vehicle">
                                <i id="editButton" (click)="editVehicle()" class="fa fa-pencil" aria-hidden="true"></i>
                                <div class="information-content"> <span id="nameLabel" class="title-card-2">Nombre:</span> <span id="nameValueLabel" >{{vehicle.nombre}}</span> </div>
                                <div class="information-content"> <span id="brandLabel" class="title-card-2">Marca:</span> <span id="brandValueLabel" >{{vehicle.marca}}</span> </div>
                                <div class="information-content"> <span id="modelLabel" class="title-card-2">Modelo:</span> <span id="modelValueLabel" >{{vehicle.modelo}}</span> </div>
                                <div class="information-content"> <span id="yearLabel" class="title-card-2">Año:</span> <span id="yearValueLabel" >{{vehicle.linea}}</span> </div>
                                <div class="information-content"> <span id="patentLabel" class="title-card-2">Patente:</span> <span id="patentValueLabel" >{{vehicle.patente ? vehicle.patente : "N/A"  }}</span> </div>
                                <div class="information-content"> <span id="driverLabel" class="title-card-2">Chofer actual:</span> <span id="userValueLabel" >{{vehicle.usuario_en_uso ? vehicle.usuario_en_uso : "N/A"  }}</span> </div>
                                <div class="information-content"> <span id="kmLabel" class="title-card-2">Kilometraje:</span> <span id="kmValueLabel" >{{vehicle.kilometraje ? vehicle.kilometraje : "N/A"  }}</span> </div>
                              </ng-container>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-4">
                        <h4 class="mb-4">Documentación</h4>
                        <div>
                            <!--  -->
                            <div *ngIf="vehicle?.documentos">
                                <div class="dyTableContainer px-0">
                                    <div class="dyTable">
                                        <ng-container *ngFor="let doc of vehicle?.documentos;">
                                            <div class="d-flex flex-row dyItem" [style.minWidth]="100 * columns+'px'">
                                                <div [style.width.%]="100 / columns" class="text-left px-3 dyCol">
                                                    {{ doc.tipo_documento }}
                                                </div>
                                                <div [style.width.%]="100 / columns" class="text-end px-3 d-flex flex-row justify-content-end align-items-center dyCol f">
                                                    <div class="mx-4">Fecha de caducidad: {{ doc.fecha_vencimiento?? "N/A" }}</div>
                                                    <i id="viewDocButton" (click)="verDocument(vehicle.id, doc.tipo_documento)" class="fa fa-eye pull-right pointer" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                            <!--  -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-4">
                        <h4 class="mb-4">Historial de Revisiones</h4>
                        <div>
                            <!--  -->
                            <div *ngIf="recentReviews">
                                <div class="dyTableContainer px-0">
                                    <div class="dyTable">
                                        <div class="d-flex flex-row dyItem" [style.minWidth]="100 * recentReviewsColumns+'px'">
                                            <div id="dateLabel" [style.width.%]="100 / recentReviewsColumns" class="px-3 fw-300 dyCol">Fecha</div>
                                            <div id="noteLabel" [style.width.%]="(100 / recentReviewsColumns) * 2" class="px-3 fw-300 dyCol">Nota</div>
                                            <div [style.width.%]="(100 / recentReviewsColumns)" class="px-3 fw-300 dyCol"></div>
                                        </div>
                                        <ng-container *ngFor="let review of recentReviews;">
                                            <div class="d-flex flex-row dyItem" [style.minWidth]="100 * recentReviewsColumns+'px'">
                                                <div id="dateValueLabel" [style.width.%]="100 / recentReviewsColumns" class="px-3 dyCol truncate">{{ review.fecha }}</div>
                                                <div id="noteValueLabel" [style.width.%]="(100 / recentReviewsColumns) * 2" class="px-3 dyCol truncate">{{ review.nota }}</div>
                                                <div [style.width.%]="(100 / recentReviewsColumns)" class="px-3 dyCol text-end">
                                                    <i id="viewHistoryButton" [routerLink]="'/'+this.getAppRoutes.platform.vehicles.review.view.route(vehicle.id, review.id)" class="fa fa-eye pull-right pointer mx-2" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </ng-container>
                                        <ng-container *ngIf="!recentReviews.length">
                                            <div class="d-flex flex-row dyItem" [style.minWidth]="100 * recentReviewsColumns+'px'">
                                                <div [style.width.%]="(100 / recentReviewsColumns)" class="px-3 dyCol">-</div>
                                                <div [style.width.%]="(100 / recentReviewsColumns) * 2" class="px-3 dyCol">-</div>
                                                <div [style.width.%]="(100 / recentReviewsColumns)" class="px-3 dyCol">-</div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                            <!--  -->
                        </div>
                    </div>
                </div>


                <div class="row justify-content-center mt-4 noselect">
                    <h4 class="mb-4">Formularios del vehículo</h4>
                    <div class="col-lg-12" style="overflow: auto">
                        <div class="d-flex flex-row justify-content-between">
                            <ng-container *ngIf="forms as forms;">
                                <div class="arrow-div">
                                    <div (click)="previousSlide(forms)" [ngClass]="{ 'arrow-disabled': this.slideIndex===0  }" class="form-arrow arrow-left pointer">
                                        <i class="fa fa-angle-left"></i>
                                    </div>
                                </div>
                                <m-form-card [flicker]="flicker" *ngFor="let form of getFormSlider(forms);" [name]='form.titulo'></m-form-card>
                                <div class="arrow-div ">
                                    <div (click)="nextSlide(forms)" [ngClass]="{ 'arrow-disabled': (this.slideIndex+this.slideCant) === forms.length ||  forms.length===1 }" class="form-arrow arrow-right pointer">
                                        <i class="fa fa-angle-right"></i>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center mt-4">
                    <div class="col-lg-12">
                        <h4 class="mb-4 mt-4">Formularios recientes</h4>
                        <!-- table -->
                        <div *ngIf="recentForms as history;">
                            <div class="dyTableContainer px-0">
                                <div class="dyTable">
                                    <div class="d-flex flex-row dyItem" [style.minWidth]="100 * recentFormsColumns+'px'">
                                        <div id="nameLabel" [style.width.%]="(100 / recentFormsColumns) * 2" class="px-3 fw-300 dyCol">Formulario</div>
                                        <div id="dateLabel" [style.width.%]="(100 / recentFormsColumns) * 2" class="px-3 fw-300 dyCol">Fecha</div>
                                        <div id="vehicleLabel" [style.width.%]="100 / recentFormsColumns" class="px-3 fw-300 dyCol">Vehículo</div>
                                        <div id="driverLabel" [style.width.%]="100 / recentFormsColumns" class="px-3 fw-300 dyCol">Conductor</div>
                                        <div id="stateLabel" [style.width.%]="100 / recentFormsColumns" class="text-end px-3 fw-300 dyCol">Estado</div>
                                        <div [style.width.%]="100 / recentFormsColumns" class="text-end px-3 fw-300 dyCol"></div>
                                    </div>
                                    <ng-container *ngFor="let evaluation of history;">
                                        <div class="d-flex flex-row dyItem" [style.minWidth]="100 * recentFormsColumns+'px'">
                                            <div id="nameValueLabel" [style.width.%]="(100 / recentFormsColumns) * 2" class="px-3 dyCol">{{ evaluation.nombre_evaluacion }}</div>
                                            <div id="dateValueLabel" [style.width.%]="(100 / recentFormsColumns) * 2" class="px-3 dyCol truncate">{{ evaluation.fecha }}</div>
                                            <div id="vehicleValueLabel" [style.width.%]="100 / recentFormsColumns" class="px-3 dyCol">{{ evaluation.nombre_vehiculo }}</div>
                                            <div id="driverValueLabel" [style.width.%]="100 / recentFormsColumns" class="px-3 dyCol">{{ evaluation.nombre_usuario }}</div>
                                            <div id="stateValueLabel" [style.width.%]="100 / recentFormsColumns" class="text-end px-3 dyCol">{{ evaluation.nombre_evaluacion!=="-" ? "Completo":"-" }}</div>
                                            <div [style.width.%]="100 / recentFormsColumns" class="text-end px-3 dyCol">
                                                <i id="viewFormButton" (click)="viewForm(evaluation.log_id)" class="fa fa-eye pull-right pointer mx-2" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                        <!-- /table fin  -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
