<div class="m-container clase-padre">
  <div class="container">
    <div class="row justify-content-center mt-4">
      <div class="col-10 mt-4 mb-4">
        <div class="mb-4"></div>
        <h3>Vehículos</h3>
      </div>
    </div>
    <div class="row justify-content-center mt-4">
      <div class="col-lg-10">
        <div class="row">
          <div class=" col-lg-3 col-xs-10  mb-4">
            <button  class="btn btn-success m-btn-success m-btn w-100 truncate">Asignar formulario</button>
          </div>
          <div class=" col-lg-3 col-xs-10  mb-4">
            <button (click)="addDocument(vehicle.id)"  class="btn btn-primary m-btn-acento m-btn w-100 truncate">Adjuntar documento</button>
          </div>
        </div>
      </div>

    </div>
    <div  class="row justify-content-center mt-4">
      <div class="col-10 mt-4 mb-4">
        <div class="row profile-row">
          <div class="col vehicle-col">
            <div  class="card card-x" [ngClass]="{ 'animated-background' : !vehicle }">
              <ng-container *ngIf="vehicle">
                <div class="contenedor">
                  <img *ngIf="vehicle?.tipo" src="assets/images/cars/{{vehicle.tipo}}.png" class="card-img-top" alt="..."  >
                </div>
                  <div class="card-body">
                    <h6 class="card-text">{{ vehicle.nombre}}</h6>
                    <p *ngIf="vehicle.en_uso" class="p" >En uso <i class="fa fa-circle" aria-hidden="true"></i></p>
                    <p *ngIf="!vehicle.en_uso" class="p disponible">Disponible <i class="fa fa-circle" aria-hidden="true"></i></p>
                    <i (click)="qrCode()" class="fa fa-qrcode pointer" aria-hidden="true"></i>
                  </div>
              </ng-container>

            </div>

          </div>
          <div class="col">
            <div class="card card-2" [ngClass]="{ 'animated-background' : !vehicle }">
              <ng-container *ngIf="vehicle">
                <i (click)="editVehicle()" class="fa fa-pencil" aria-hidden="true"></i>
                <div> <span class="title-card-2">Nombre:</span> {{vehicle.nombre}} </div>
                <div> <span class="title-card-2">Marca:</span> {{vehicle.marca}} </div>
                <div> <span class="title-card-2">Modelo:</span> {{vehicle.modelo}} </div>
                <div> <span class="title-card-2">Año:</span> {{vehicle.linea}} </div>
                <div> <span class="title-card-2">Patente:</span> {{vehicle.patente}} </div>
                <div> <span class="title-card-2">Ultimo chofer:</span> {{vehicle.usuario_en_uso}} </div>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col mt-3">
            <h4>Documentación</h4>
            <div>
              <ul class="list-group">
                <li *ngFor="let doc of vehicle?.documentos;" class="list-group-item">
                  <span>{{doc.tipo_documento}}</span>
                  <span>
                    <!-- <i class="fa fa-trash pull-right ml-4 pointer" aria-hidden="true"></i> -->
                    <i (click)="verDocument(vehicle.id, doc.tipo_documento)" class="fa fa-eye pull-right pointer" aria-hidden="true"></i>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
