.class {
  background-color: #000853 !important;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.a {
  padding-left: 13px;
  font-weight: 700;
}

.i {
  padding-right: 12px;
  margin-left: 60px;
}

.item-solo {
  padding-right: 0px;
}

.item-solo-1 {
  position: relative;
  right: 0px;
}

.item-solo-2 {
  position: relative;
  right: 0px;
}

.item-solo-3,
.item-solo-4 {
  position: relative;
  right: 0px;
  margin-right: 0px;
}

.item-solo-3 {
  display: flex;
  a {
    align-self: center;
  }
}

.div-class {
  display: flex;

  position: relative;
}

@media screen and (max-width: 1368px) {
  .div-class {
    position: relative;
    left: -20px;
  }
}

@media screen and (max-width: 650px) {
  .i {
    margin-left: auto;
  }
  .item-solo {
    padding-right: 0px;
  }
  .item-solo-1,
  .item-solo-2,
  .item-solo-4 {
    right: 0px;
  }

  .item-solo-3 {
    opacity: 0;
  }

  .div-class {
    left: 100px;
  }
}

@media screen and (max-width: 480px) {
  .a {
    display: none;
  }
}

.navbar-brand {
  img {
    width: 45px;
    height: auto;
    margin-top: 5px;
    margin-right: 10px;
  }
  font-weight: 700;
}

nav {
  background-color: #000853 !important;
  height: 68px !important;
  padding-left: 102px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav-link-with-icon {
  display: flex;
  align-items: center;
  column-gap: 15px;
  color: white !important;
  i {
    font-size: 35px;
  }
}

.top-dropdown-menu {
  right: 0px !important;
  top: 68px !important;
  left: auto !important;
}

.navbar-collapse {
  background-color: var(--m-primary-color);
  align-items: center;
  border-radius: 5px;
  .navbar-nav{
    align-items: center;
  }
}
