<div class="formulario-padre">
  <div class="buton">
    <h3 class="title-formularios" #asTextLeft>Formularios</h3>
      <button mat-button type="button" class="btn button" #asButtonLeft>Agregar Formulario</button>
      <input type="text" class="input-search" placeholder="Buscar Vehiculo..." #asButtonRigth><img class="img-search" src="../assets/icon-search.svg" #asImgMovie>
      <!-- a href="*" class="a-icon-lista"><img class="icon-lista" src="assets/icon-lista.svg" alt="">Lista</a>
      <a href="*" class="a-icon-cuadricula"><img class="icon-cuadricula" src="assets/icon-cuadricula.svg" alt="">Cuadricula</a> -->
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators" style="display: none;">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner cr">
            <div class="carousel-item active auto-1" data-bs-interval="3000">
             <div class="card" style="width: 162px; height: 155px; margin-top: 100px; margin-left: 200px; background-color: #C4C4C4;" >
                 <img src="../assets/iconos-form.svg" alt="" width="74" style="display:block; margin: auto;" >

             </div>
             <div>
               <h5 style="position: relative; left: 200px; margin-top: 30px;" >
                 Formulario
                 <br>
                 De ingreso
               </h5>
             </div>
             <div class="card" style="width: 162px; height: 155px; margin-top: 100px; margin-left: 500px; position: relative; margin-top: -239px; background-color: #C4C4C4;" >
              <img src="../assets/iconos-form.svg" alt="" width="74" style="display:block; margin: auto;" >
            </div>
            <div>
              <h5 style="position: relative; left: 500px; margin-top: 30px;" >
                Formulario
                <br>
                De Salida
              </h5>
            </div>
            <div class="card" style="width: 162px; height: 155px; margin-top: 100px; margin-left: 800px; position: relative; margin-top: -239px; background-color: #C4C4C4;" >
              <img src="../assets/iconos-form.svg" alt="" width="74" style="display:block; margin: auto;" >
            </div>
            <div>
              <h5 style="position: relative; left: 800px; margin-top: 40px;" >
                Estado de la patente


              </h5>
            </div>
            <div class="card" style="width: 162px; height: 155px; margin-top: 100px; margin-left: 1100px; position: relative; margin-top: -227px; background-color: #C4C4C4;" >
              <img src="../assets/iconos-form.svg" alt="" width="74" style="display:block; margin: auto;" >
            </div>
            <div>
              <h5 style="position: relative; left: 1100px; margin-top: 30px;" >
                Chequeo
                <br>
                Mecanico
              </h5>
            </div>
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
</button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</button>
    </div>
</div>
</div>






