<div class="form-group has-feedback mt-4">
    <div class="container">
        <div>
            <div class="searchCustom d-flex">
                <i class="fa fa-search form-control-feedback "></i>
                <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Buscar" />
            </div>
        </div>
        <div class="child-div">
            <p class="mt-2 text-dark">Mostrar resueltos</p>
        </div>
        <div class="child-div2">
            <input (click)="showResolved()"  class="pointer checkbox" type="checkbox"/>
        </div>
    </div>
  </div>
  <div class="mt-5">
    <div class="autolayout p-0">
      <table  matSort (matSortChange)="sortData($event)" class="table m-0">
        <tbody>
          <tr>
            <th mat-sort-header="id" class="header" scope="col">Id</th>
            <th mat-sort-header="fecha" class="header" scope="col">Fecha de creación</th>
            <th mat-sort-header="prioridad" class="header" scope="col">Prioridad</th>
            <th mat-sort-header="defecto" class="header" scope="col">Defecto</th>
            <th mat-sort-header="conductor" class="header" scope="col">Conductor</th>
            <th mat-sort-header="vehiculo" class="header" scope="col">Vehículo</th>
            <th mat-sort-header="estado" class="header" scope="col">Estado</th>
            <th class="text-center header" scope="col">Acciones</th>
          </tr>
          <tr *ngFor="let defect of sortedData | filterDefectPipe: searchText:['id','nombre_ape_usuario','vehiculo','estado']; ; let i = index" [attr.data-index]="i">
            <td class="text-center p-1 cell">{{ defect.id }}</td>
            <td class="text-center p-1 cell">{{ getFecha(defect.fecha_creacion) }}</td>
            <td class="text-center p-1 cell">
                <p-dropdown id="typeButton"  appendTo="body" class="select2carMind2" [options]="prioritys" [(ngModel)]="priority[i]" [style]="{'width':'100%'}" (onChange)="onPriorityChange(defect.id, priority[i])">
                    <ng-template pTemplate="selectedItem">
                        <div class="select2CarMind2-option-item priority[i]-item-value px-3 py-0" *ngIf="priority[i]">
                            <img [src]="'assets/icons/'+priority[i]+'.png'" />
                            <div class="fw-400">{{priority[i]}}</div>
                        </div>
                    </ng-template>
                    <ng-template let-priority pTemplate="item">
                        <div class="d-flex">
                            <img [src]="'assets/icons/'+priority+'.png'" />
                            <div class="fw-400 iconPrior">{{priority}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </td>
            <td class="text-center p-1 cell">{{defect.defecto}}</td>
            <td class="text-center p-1 cell">{{ defect.nombre_ape_usuario }}</td>
            <td class="text-center p-1 cell">{{ defect.vehiculo }}</td>
            <td class="text-center p-1 cell"><mark [ngStyle]="{ background: getStateColor(defect.estado) }">{{ defect.estado }}</mark></td>
            <td class="text-center p-1 cell action pointer " ><a (click)="viewDetails(defect)">Ver</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>