/* Table */

.table{
    box-sizing: border-box;
}

/* Auto layout */
.autolayout{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    background: #FFFFFF;
    border-bottom:  1px solid #B9B9B9;
    border-right:  1px solid #B9B9B9;
    border-radius: 4px;
}

.header{
    background: rgba(0, 0, 0, 0.06);
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: #B9B9B9;
}

::ng-deep .mat-sort-header-container {
    display:flex;
    justify-content:center;
  }
  
.cell{
    background: rgba(255, 255, 255, 0.002);
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: #B9B9B9;
    vertical-align: middle;
}


.card {
    background-color: #eee;
}

.form-control-feedback {
    position: absolute;
    margin: 255px;
    margin-left: 270px;
    pointer-events: none;
    background-color: #eee;
    align-self: center;

}
  
.form-control {
    padding-left: 10px !important;
    padding-right: 40px !important;
    background-color: #eee;
} 

.searchCustom{
    width: 294px;
    height: 35px;

}

.container{
    margin-left: 0;
    padding-left: 0;
    display: flex;
}

.child-div{
    padding-left: 10px;
}

.child-div2{
    padding-left: 10px;
    padding-top: 12px;
}

.checkbox{
    width: 17px;
    height: 17px;
}

.action{
    color: #0078FF;
}

mark {
    border-radius: 2px;
    padding-left: 5px;
    padding-right: 5px;
}


.select2CarMind2{
    background-color: #8ed8f8;
    height: 12px !important;
    .p-dropdown {
      background-color: red;
      height: 12px !important;
    }
    &-option-item {
      padding-left: 5px !important;
      padding-right: 0px !important;
      margin-left: -5px !important;
      margin-top: -5px !important;
      margin-bottom: -5px !important;
      display: flex;
      align-items: center;
      gap: 6px;
      width: 40px;
      height: 12px !important;
      img {
        width: 17px;
        height: 12px;
      }
    }

    &-items{
      gap: 6px;
    }
}

::ng-deep{
  .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    padding-left: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px!important;
    padding-right: 0px !important;
    margin-right: 0px !important;
  }
}



.iconPrior{
    padding-left: 8px;
}