<div class="container">
    <div class="row justify-content-start header">
        <div class="col col-sm-auto circle"><img [src]="'assets/icons/user.png'" class="userIcon" alt="..."  ></div>
        <div class="col col-sm-auto">
            <p class="name">{{comment?.usuario}}</p>
        </div>
        <div (mouseover)="changeText=true" (mouseout)="changeText=false" class="col col-sm-auto">
            <p  *ngIf="!changeText" class="time">{{getDateInformation(comment?.fecha)}}</p>
            <p  *ngIf="changeText" class="time">{{getTime(comment?.fecha)}}</p>
        </div>
    </div>
    <div class="row body">
        <p class="message">{{comment?.mensaje}}</p>
    </div>
</div>
