<div class="container">
    <div class="row justify-content-start header">
        <div class="col col-sm-auto circle"><img [src]="'assets/icons/user.png'" class="userIcon" alt="..."  ></div>
        <div class="col col-sm-auto">
            <p class="name">{{comment?.usuario}}</p>
        </div>
        <div class="col col-sm-auto">
            <p [ngbPopover]="getTime(comment?.fecha)" triggers="mouseenter:mouseleave" class="time">{{getDateInformation(comment?.fecha)}}</p>
        </div>
    </div>
    <div class="row body">
        <p class="message">{{comment?.mensaje}}</p>
    </div>
</div>
