<div class="row clase-padre map-container">
  <div class="map-container__content">
    <div *ngIf="isNotInDetails()">
      <h4 class="mt-2 text-dark">GPS tracker</h4>
      <div class="row2 justify-content-start">
        <div class="col-4">
          <button routerLink="/platform/gps/vehicles"
            routerLinkActive="buttonUnderlineSelected"
            (click)="changeRoute(true)"
            class="mt-3 buttonUnderline">Vehiculos</button>
        </div>
        <div class="col-3">
          <button routerLink="/platform/gps/zones"
            routerLinkActive="buttonUnderlineSelected2"
            (click)="changeRoute(false)"
            class="mt-3 buttonUnderline2">Zonas</button>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
  <div class="px-0 map-container__map">
    <app-gps-map class="map-container__children"></app-gps-map>
    <div class="slider2" id="chart-container">
      <input type="checkbox" name="scale-x" id="scaleCheckbox" #target2 checked> <label for="scaleCheckbox">Escalar en el tiempo</label>
      <canvas id="chart-canvas" height="280px" style="width: 100%;"></canvas>
    </div>
  </div>
</div>
