<div class="row">
  <div class="col">
    <label for="">Tipo documento *</label>
    <select [(ngModel)]="tipo" class="form-select" aria-label="Default select example">
      <option value="{{o}}" *ngFor="let o of this._type.tipo_documento">{{ o }}</option>
    </select>
  </div>
  <div class="col">
    <label for="">Vencimiento *</label>
    <input type="date" onkeydown="return false" [(ngModel)]="vencimiento" name="" class="form-control" id="">
</div>
</div>
<div class="row mt-4">
  <div class="col">
    <label for="">File *</label>
    <input type="file"  class="form-control"  (change)="readFile($event)">
  </div>
</div>
<div class="row justify-content-end mt-4">
  <div class="col-sm-3">
    <button (click)="cargar()" [disabled]="!tipo || !vencimiento || !file" type="submit" class="btn btn-success m-btn-success m-btn w-100">Cargar</button>
  </div>
</div>
