<label for="formatoRespuesta" style="margin-left: 30px;" >Formato de Respuesta</label>
 <select style="width: 398px; height: 48px; margin-left: 94px; background-color: #EBEBEB; border: none; "name="formatoRespuesta">
   <option class="activo" value="Casillas de selección única">Casillas de selección única</option>
   <option class="inactivo"value="Casillas con tildes y cruces">Casillas con tildes y cruces</option>
   <option class="activo" value="Varias opciones">Varias opciones</option>
   <option class="inactivo"value="Foto">Foto</option>
   <option class="inactivo"value="Respuesta escrita">Respuesta escrita</option>

 </select>