<div class="formato" >
  <label for="asignarRespuesta" class="nombre" style="margin-left: 30px;">Asignar pregunta</label>

 <input class="nombre" type="text" name="asignarRespuesta" style="width: 398px; height: 48px; margin-left: 133px; margin-bottom: 30px; background-color: #EBEBEB; border: none;" placeholder="Escribe el Nombre del Vehiculo..."><a class="buton"><img class="img-agregar" src="../assets/icono-agregar.svg"></a>
<label for="formatoRespuesta" style="margin-left: 30px;" >Formato de Respuesta</label>
 <select style="width: 398px; height: 48px; margin-left: 94px; background-color: #EBEBEB; border: none; "name="formatoRespuesta">
   <option class="activo" value="Casillas de selección única">Casillas de selección única</option>
   <option class="inactivo"value="Casillas con tildes y cruces">Casillas con tildes y cruces</option>
   <option class="activo" value="Varias opciones">Varias opciones</option>
   <option class="inactivo"value="Foto">Foto</option>
   <option class="inactivo"value="Respuesta escrita">Respuesta escrita</option>

 </select>
</div>

<!-- Ver si con un *ngFor lo resuelvo -->
