<div class="mt-4 form-group has-feedback">
    <div class="mb-4 col-lg-5 col-xs-10">
        <button id="addZoneButton" class="truncate btn btn-success m-btn-success m-btn w-100" (click)="addZone('zoneName')">Añadir zona</button>
    </div>
    <div class="d-flex justify-content-end">
      <i class="fa fa-search form-control-feedback"></i>
    </div>
    <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Buscar zonas.." />
  </div>
  <div class="mt-5 card">
    <div class="p-0 card-body">
        <div class="overflow-list">
        <table class="table m-0">
          <tbody>
            <tr >
              <td  class="text-center" scope="col">Nombre</td>
              <td class="text-center" scope="col">Acciones</td>
            </tr>

            <tr [ngClass]="{'backColor-selected' : zone.id == itemSelected, 'backColor' : zone.id != itemSelected}" *ngFor="let zone of zones | filter: searchText" (click)="moveCameraToZone(zone); selectZone(zone.id)">
              <td class="p-1 text-center">{{ zone.nombre }}</td>
              <td class="text-center">
                  <img (click)='hideZone(zone.id)' class="mx-2 pointer eye" [src]="zone.isHidden ? 'assets/icons/eye-slash.png' : ( zone.id != itemSelected ? 'assets/icons/eye-blue.png' : 'assets/icons/eye-white.png')" alt="">
                  <i id="editButton" [ngClass]="{'actions-selected' : zone.id == itemSelected, 'actions' : zone.id != itemSelected}" class="mx-2 fa fa-pencil pointer" (click)="editZone(zone)" aria-hidden="true"></i>
                  <i id="deleteButton" [ngClass]="{'actions-selected' : zone.id == itemSelected, 'actions' : zone.id != itemSelected}" class="mx-2 fa fa-trash pointer" (click)="deleteZone(zone)" aria-hidden="true"></i>
              </td>
            </tr>
            <tr *ngIf="editing_id==='zoneName'">
              <td class="text-center width:100%">
                  <input id="nameInput" #editing autofocus (focusout)="saveNewZone(editing)"  (keydown.enter)="saveNewZone(editing)"  type="text" class="input-control" placeholder="Nombre de la zona" aria-describedby="button-addon2">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  