<div class="m-container clase-padre">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 mt-4">
        <div class="row">
          <div class="col p-0">
            <h3>Perfil</h3>
          </div>
        </div>
        <div class="row col mt-4">
            <h4 class="p-0">Datos de la cuenta</h4>
        </div>
        <div class="row col mt-4">
          <ul class="list-group">
            <li class="list-group-item">
              <div class="row">
                <div id="companyLabel" class="col col-w-fixed" >Empresa</div>
                <div id="companyValueLabel" class="col"> {{ this.auth.user!.nombre_empresa }}
                </div>
              </div>

            </li>
            <li class="list-group-item">
              <div class="row">
                <div id="userLabel" class="col col-w-fixed" >Usuario</div>
                <div id="userValueLabel" class="col"> {{ this.auth.user!.username }}
                </div>
              </div>

            </li>
          </ul>
        </div>
        <div class="row col mt-4">
            <h4 class="mt-4 p-0">Datos de personales</h4>
        </div>
        <div class="row col mt-4">
          <ul class="list-group">
            <li class="list-group-item">
              <div class="row">
                <div id="nameLabel" class="col col-w-fixed" >Nombre</div>
                <div class="col edit-data">
                  <ng-container *ngIf="editing_id!=='nombre'">
                    <span id="nameValueLabel" >{{ this.auth.user!.nombre }}</span>
                    <div *ngIf="this.auth.tail.length" class="spinner-border pull-right" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                    <i id="editNameButton" *ngIf="!this.auth.tail.length" (click)="edit('nombre', this.auth.user!.nombre)" class="fa fa-pencil pull-right ml-4 pointer" aria-hidden="true"></i>
                  </ng-container>
                  <div *ngIf="editing_id==='nombre'" class="input-group">
                    <input id="nameInput" #editing autofocus (focusout)="cancel(editing)"  (keydown.enter)="cancel(editing)"  type="text" class="form-control editings" placeholder="Nombre" aria-describedby="button-addon2">
                  </div>
                  </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div id="surnameLabel" class="col col-w-fixed" >Apellido</div>
                <div class="col edit-data">
                  <ng-container *ngIf="editing_id!=='apellido'">
                    <span id="surnameValueLabel" >{{ this.auth.user!.apellido }}</span>
                    <div *ngIf="this.auth.tail.length" class="spinner-border pull-right" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                    <i id="editSurnameButton" *ngIf="!this.auth.tail.length" (click)="edit('apellido', this.auth.user!.apellido)" class="fa fa-pencil pull-right ml-4 pointer" aria-hidden="true"></i>
                  </ng-container>
                  <div *ngIf="editing_id==='apellido'" class="input-group">
                    <input id="surnameInput" #editing autofocus (focusout)="cancel(editing)"  (keydown.enter)="cancel(editing)"  type="text" class="form-control editings" placeholder="Apellido" aria-describedby="button-addon2">
                  </div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div id="dniLabel" class="col col-w-fixed" >Documento</div>
                <div class="col edit-data">
                  <ng-container *ngIf="editing_id!=='dni'">
                    <span id="dniValueLabel">DNI {{ this.auth.user!.dni }}</span>
                    <div *ngIf="this.auth.tail.length" class="spinner-border pull-right" role="status">
                      <span class="sr-only">Loading...</span>
                    </div>
                    <i id="editDniButton" *ngIf="!this.auth.tail.length" (click)="edit('dni', this.auth.user!.dni)" class="fa fa-pencil pull-right ml-4 pointer" aria-hidden="true"></i>
                  </ng-container>
                  <div *ngIf="editing_id==='dni'" class="input-group">
                    <input id="dniInput" #editing autofocus (focusout)="cancel(editing)"  (keydown.enter)="cancel(editing)"  type="text" class="form-control editings" placeholder="DNI" aria-describedby="button-addon2">
                  </div>
                </div>
              </div>
            </li>
            <!-- <li class="list-group-item">
              <div class="row">
                <div class="col col-w-fixed" >Telefono</div>
                <div class="col"> {{ this.auth.user!.apellido }}
                </div>
              </div>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-4"></div>
  </div>
</div>
