.mat-card{
  width: 70%;
  margin-top: 50px;
}

.detalle-vehiculo-padre{
  margin-top: -130px ;
  margin-left: 400px;

}

.separar-1{
  position: relative;
  left: 30px;
}

.separar-2{
  position: relative;
  left: 350px;
}

.separar-3{
  position: relative;
  left: 700px;
  text-decoration: none;
  color: black;
}

.card-2{
  margin-top: 0px;
}

.title-perfil{
  margin-top: 30px;
}

