<div class="detalle-vehiculo-padre">
    <h3>Perfil</h3>
    <br>
    <h3>Datos de Cuenta</h3>
<mat-card class="d-flex">

 <p class="separar-1">Usuario</p>
<p class="separar-2">SILVINA RODRIGUEZ</p>
<a class="separar-3" href="">Editar</a>

</mat-card>
<mat-card class="d-flex card-2">

  <p class="separar-1">E-mail</p>
 <p class="separar-2">silvirodri3@gmail.com</p>
 <a class="separar-3" href="">Editar</a>

 </mat-card>
 <h3 class="title-perfil">Datos Personales</h3>
 <mat-card class="d-flex">

  <p class="separar-1">Nombre Completo</p>
 <p class="separar-2">Silvina Rod</p>
 <a class="separar-3" href="">Editar</a>

 </mat-card>
 <mat-card class="d-flex card-2">

  <p class="separar-1">Documento</p>
 <p class="separar-2">DNI 16800400657</p>
 <a class="separar-3" href="">Editar</a>

 </mat-card>
 <mat-card class="d-flex card-2">

  <p class="separar-1">Telefono</p>
 <p class="separar-2">2964674845698778</p>
 <a class="separar-3" href="">Editar</a>

 </mat-card>
</div>

