.personal-padre{
  margin-top: -130px ;
  margin-left: 300px;
  transition-property: margin-left;
  transition-duration: 1s;
}

.img-search{
  position: relative;
  right: -210px;
  bottom: 130px;
}

.title-personal{
  position: relative;
  bottom: 80px;
  right:0px;
  font-weight: 700;
}

.button {
  width: 228px;
  height: 56px;
  border-radius: 10px;
  background-color: #B6E802;
  margin-right: 0px;
  position: relative;
  right: 0px;
  font-weight: 700;
  bottom: 30px;
}

.input-search::placeholder {
color: black;
}

.input-search{
margin-right: 0px;
position: relative;
  left: 240px;
  bottom: 130px;

}

input {
  padding-left: 10px;
  border: none;
  background-color: #C4C4C4;
  height: 52px;
  border-radius: 5px;
}

table {
  width: 80%;
  margin-top: 50px;
}


@media screen and (max-width: 1065px) {
      .input-search{
        left: 110px;
      }

      .img-search{
        right: -80px;
      }
}



@media screen and (max-width: 938px) {
  .personal-padre{
    margin-left: 200px;
  }
}

