/* Google Font Import - Poppins */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
.section-sidebar {
    margin-top: 300px;
    height: 0vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
    font-family: 'Roboto';
    z-index: 0;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

::selection {
    background-color: var(--primary-color);
    color: #8ED8F8;
}


/* ===== Sidebar ===== */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--sidebar-color);
    transition: var(--tran-05);
    overflow-y: hidden;
    overflow-x: hidden;
}

.sidebar.close {
    width: 102px;
}


/* ===== Reusable code - Here ===== */

.sidebar .text,
.sidebar .text-header {
    color: var(--text-color);
    transition: var(--tran-03);
}


/* =========================== */

.sidebar {
    margin-top: 68px;
}

.text {
    font-size: 25px;
}

.text-header {
    font-size: 30px;
    font-weight: 700;
}

@media screen and (max-width: 1368px) {
    .naruto {
        right: 290px !important;
    }
    .sasuke {
        left: 310px !important;
    }
    .search-movie {
        right: -280px;
    }
}

@media screen and (max-width: 1047px) {
    .text {
        font-size: 20px;
    }
}

.icon-auto,
.icon-check {
    fill: white;
}

.icon-profile {
    stroke: white;
    fill: none;
}

@media screen and (max-width: 1131px) {
    .class-nueva,
    .button {
        right: 160px !important;
    }
    .class-nueva-2,
    .input-search {
        left: 180px !important;
    }
    .class-nueva-3,
    .img-search {
        right: -150px;
    }
    .card-3 {
        margin-top: 30px;
    }
}

@media screen and (max-width: 1067px) {
    .button-left {
        right: 25px !important;
    }
    .susano {
        left: 50px !important;
    }
    .search-movie {
        right: -20px;
    }
}

@media screen and (max-width: 858px) {
    .button {
        margin-top: 40px;
    }
}

@media screen and (max-width: 917px) {
    .class-nueva,
    .button {
        right: 0px !important;
        margin-top: 40px !important;
    }
    .class-nueva-2,
    .input-search {
        left: 0px !important;
    }
    .class-nueva-3,
    .img-search {
        right: -70px !important;
        top: -40px !important;
    }
    .clase-cualquiera {
        margin-left: 150px !important;
    }
    .buton {
        flex-direction: column;
    }
    .buton .button {
        margin-bottom: 10px;
    }
    .button-left {
        right: 0px !important;
    }
    .susano {
        left: 0px !important;
    }
    .search-movie {
        right: -70px !important;
        bottom: 40px !important;
    }
}

@media screen and(max-width: 569px) {
    .buton {
        margin-right: 0px !important;
        margin-top: -150px;
    }
    .otra-clase {
        left: 300px !important;
    }
}

@media screen and (max-width: 483px) {
    .card-2 {
        margin-top: 30px;
    }
    .card-6 {
        margin-bottom: 30px;
    }
}


/* Css del side bar */

.item-active-menu,
.item-active-menu-no-fill {
    --active-item-color: #8ED8F8;
}

.item-active-menu span,
.item-active-menu svg {
    color: var(--active-item-color) !important;
    fill: var(--active-item-color);
    stroke: var(--active-item-color);
}

.active {
    overflow: inherit;
}

.no-fill svg,
.no-fill span {
    fill: none !important
}

#indication-mark-wrap {
    position: absolute;
    width: 8px;
    background: #8ED8F8;
    transition-duration: 1s;
}

.sidebar #main-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 21.3vw;
    padding: 10px 14px;
}

.sidebar #row {
    display: grid;
    grid-template-columns: 71px 1fr;
    width: 21.3vw;
    grid-auto-rows: 80px;
    padding-left: 36px;
}

#row div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#row-content {
    display: contents !important;
}