.card{
  width: 232px;
  height: 314px;
   margin-top: 0px;

}



.title-vehiculo{
  position: relative;
  bottom: 80px;
  right:120px;
  font-weight: 700;
}

.card:hover{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.card-padre-1 {
    margin-bottom: 20px;
}

.card-padre-2 {
    margin-top: 0px;
}

.card-img,
.card-img-bottom,
.card-img-top {
    width: 232px;
    min-width: 141px;
    position: relative;
    right: 12px;
    height: 225px;

}

.card-text{
  font-weight: bold;
  font-size: 22px;
}

.p{
  font-weight: 500;
  font-size: 18px;
}

.img-search{
  position: relative;
  right: -300px;
}

.buton {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: -200px;
}

.button {
    width: 228px;
    height: 56px;
    border-radius: 10px;
    background-color: #B6E802;
    margin-right: 0px;
    position: relative;
    right: 240px;
    font-weight: 700;
}

.input-search::placeholder {
  color: black;
}

.input-search{
  margin-right: 0px;
  position: relative;
    left: 330px;

}

input {
    padding-left: 10px;
    border: none;
    background-color: #C4C4C4;
    height: 52px;
    border-radius: 5px;
}

.clase-padre {
  margin-top: 30px;

    margin-left:100px;
    transition-property: margin-left;
    transition-duration: 1s;
}



.a-icon-lista {
  position: relative;
  top: 70px;
  left:100px;
  text-decoration: none;
  color: black;
}

.a-icon-cuadricula{
  position: relative;
  top: 70px;
  left: 130px;
  text-decoration: none;
  color: #000853;
}

@media screen and (max-width: 1331px) {
  .button-left{
    right: 160px !important;
  }

  .susano{
    left: 180px !important;
  }

  .search-movie{
    right: -150px;
  }

}

@media screen and (max-width: 1283px) {
     .asButtonLeft{
       position: relative;
       right: 110px !important;
       transition-property: right;
       transition-duration: 1s;
     }

     .asTextLeft{
      position: relative;
      right: -20px !important;
      transition-property: right;
       transition-duration: 1s;
     }

     .asButtonRigth{
       position: relative;
       left: 200px !important;
       transition-property: left;
       transition-duration: 1s;
     }

     .asImgMovie{
       position: relative;
       right: -170px;
       transition-property: right;
       transition-duration: 1s;
     }

     .asIconLeft{
       position: relative;
       left: -10px;
       transition-property: left;
       transition-duration: 1s;
     }

     .asIconRigth{
       position: relative;
       left: 0px;
       transition-property: left;
       transition-duration: 1s;
     }
}


@media screen and (max-width: 1192px) {

  .card-padre{
    margin-left: -80px ;
  }

}

@media screen and (max-width: 1083px) {
     .title-vehiculo{
       right: 80px;
     }

    .button{
        right: 110px ;
    }

    .input-search{
      left: 205px;
    }

    .img-search{
      left: 170px;
    }

    .card-3{
      margin-top: 30px;
    }

    .a-icon-lista{
      left: -10px;
    }

    .a-icon-cuadricula{
      left: 0;
    }

    .title-vehiculo{
      right:-10px;
    }
}

@media screen and (max-width: 1031px) {

  .asButtonLeft{

    right: -10px !important;
    transition-property: right;
       transition-duration: 1s;
  }

  .asTextLeft{

   right: -130px !important;
   transition-property: right;
       transition-duration: 1s;
  }

  .asButtonRigth{

    left: 80px !important;
    transition-property: left;
       transition-duration: 1s;
  }

  .asImgMovie{

    left: 50px !important;
    transition-property: left;
       transition-duration: 1s;
  }

  .asIconLeft{

    left: -330px;
    transition-property: left;
       transition-duration: 1s;
  }

  .asIconRigth{

    left: -130px;
    transition-property: left;
       transition-duration: 1s;
  }

}

@media screen and (max-width: 831px) {

     .title-vehiculo{
       right: -120px;
     }

     .button{
       right: -10px;
     }

     .input-search{
      left: 80px;
    }

    .img-search{
      left: 50px;
    }

    .card-2{
      margin-top: 30px;
    }

    .a-icon-lista{
      left: -330px;
    }

    .a-icon-cuadricula{
      left: -150px;
    }

 }

 @media screen and (max-width: 691px) {
  .card-3, .card-2 {
      margin-top: 30px;
  }
}
@media screen and(max-width: 569px){

  .card{
    width: 152px !important;
    height: 234px !important;
  }

  }

  @media screen and (max-width: 483px) {
    .card-2 {
        margin-top: 30px;
    }
    .card-6 {
        margin-bottom: 30px;
    }
}
