<div class="clase-padre" #asRigth >
  <div class=" row  justify-content-center card-padre-1">

  <div class="buton">
    <h3 class="title-vehiculo" #asTextLeft>Vehículos</h3>
      <button mat-button (click)="openDialog()" type="button" class="btn button" #asButtonLeft>Agregar Vehículo</button>
      <input type="text" class="input-search" placeholder="Buscar Vehiculo..." #asButtonRigth><img class="img-search" src="../assets/icon-search.svg" #asImgMovie>
      <!-- a href="*" class="a-icon-lista"><img class="icon-lista" src="assets/icon-lista.svg" alt="">Lista</a>
      <a href="*" class="a-icon-cuadricula"><img class="icon-cuadricula" src="assets/icon-cuadricula.svg" alt="">Cuadricula</a> -->
  </div>
    <div class="card  col-2 col-xl-2 col-sm-12 col-md-12 col-lg-12 col-xs-12 d-flex flex-column ms-3 me-1 " >
      <img src="../assets/auto1.jpg" class="card-img-top" alt="..."  >
      <div class="card-body">
        <h6 class="card-text">Vehículo</h6>
        <p class="p">Activo</p>
      </div>
    </div>
    <div class="card  col-2 col-xl-2 col-sm-12 col-md-12 col-lg-12 col-xs-12 d-flex flex-column ms-3 me-1 " >
      <img src="../assets/auto1.jpg" class="card-img-top" alt="..."  >
      <div class="card-body">
        <h6 class="card-text">Vehículo</h6>
        <p class="p">Activo</p>
      </div>
    </div>
    <div class="card card-2 col-2 col-xl-2 col-sm-12 col-md-12 col-lg-12 col-xs-12 d-flex flex-column ms-3 me-1  ">
      <img src="../assets/auto1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h6 class="card-text">Vehiculo</h6>
        <p class="p">Activo</p>
      </div>
    </div>
    <div class="card card-3 col-2 col-xl-2 col-sm-12 col-md-12 col-lg-12 col-xs-12 d-flex flex-column ms-3 me-1 " >
      <img src="../assets/auto1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h6 class="card-text">Vehículo</h6>
        <p class="p">Activo</p>
      </div>
    </div>
  </div>
  <div class="row justify-content-center card-padre-2">
    <div class="card col-2 col-xl-2 col-sm-12 col-md-12 col-lg-12 col-xs-12 d-flex flex-column ms-3 me-1   " >
      <img src="../assets/auto1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h6 class="card-text">Vehículo</h6>
        <p class="p">Inactivo</p>
      </div>
    </div>
    <div class="card  col-2 col-xl-2 col-sm-12 col-md-12 col-lg-12 col-xs-12 d-flex flex-column ms-3 me-1 " >
      <img src="../assets/auto1.jpg" class="card-img-top" alt="..."  >
      <div class="card-body">
        <h6 class="card-text">Vehículo</h6>
        <p class="p">Activo</p>
      </div>
    </div>
    <div class="card card-2  col-2 col-xl-2 col-sm-12 col-md-12 col-lg-12 col-xs-12 d-flex flex-column ms-3 me-1 " >
      <img src="../assets/auto1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h6 class="card-text">Vehículo</h6>
        <p class="p">Inactivo</p>
      </div>
    </div>
    <div class="card card-3 card-6 col-2 col-xl-2 col-sm-12 col-md-12 col-lg-12 col-xs-12 d-flex flex-column ms-3 me-1 " >
      <img src="../assets/auto1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h6 class="card-text">Vehículo</h6>
        <p class="p">Inactivo</p>
      </div>
    </div>
  </div>
  </div>






