<div class="container-fluid">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-6 div-1 col-xl-6 col-sm-12 col-md-12 col-lg-12 col-xs-12 d-flex flex-column">
      <div class="centrar">
      <img class="img-logo" src="../assets/Logo_solo.jpg" alt="">
        <h1 class="title-1">CarMind</h1>
        <h3 class="title-2">Ingrese a su cuenta</h3>

        <form [formGroup]="myForm" (ngSubmit)="verLogin(myForm.value)">
          <label class="class e" for="email">E-mail</label>
          <br>
          <input formControlName="usuario" class="input-1 otro"  name="email" type="email" >

          <br>
          <div class="result-2">
            {{loginService.errorUsuario()}}
          </div>

          <label class="class c"  for="password">Contraseña</label>
          <br>
          <input formControlName="contraseña" class="input-1"  name="password" type="password" >
          <br>

          <div class="result">
            {{loginService.errorContrasenia()}}
          </div>
          <label class="class class-2" for="checkbox">Recordarme</label>
          <br>
          <input class="input-2" type="checkbox" name="checkbox">
           <a class="p"><p class="l">Olvidé mi contraseña</p></a>
          <br>
          <button type="submit" class="btn btn-success button">Iniciar Sesion</button>
          <p class="label-final">¿Aún no tenés cuenta?<a class="r">Registrate</a></p>

        </form>
      </div>
    </div>
    <div class="col-6 autos col-xl-6 col-sm-12 col-md-12 col-lg-12 col-xs-12">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active auto-1" data-bs-interval="3000">

          </div>
         <div class="carousel-item auto-2" data-bs-interval="3000">

          </div>
          <div class="carousel-item auto-3" data-bs-interval="3000">

          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
  </div>
  </div>
</div>
