<div class="container-fluid" style="padding: 0;
margin: 0; overflow-x: hidden; ">
  <div class="row">
    <div class="col-6 div-1 col-xl-6 col-sm-12 col-md-12 col-lg-12 col-xs-12 ">
      <img class="img-logo" src="../assets/Logo_solo.jpg" alt="">
        <h3 class="title-1 d-flex">CarMind</h3>
        <p class="title-2">Ingrese a su cuenta</p>
        <form>
          <label class="input-1 label" for="email">E-mail</label>
          <br>
          <input class="input-1 input" maxlength="50" name="email" type="email" required>
          <br>
          <label class="input-1 label-2" for="password">Contraseña</label>
          <br>
          <input class="input-1 input" maxlength="50" name="password" type="password" required>
          <br>
          <label class="input-1 label-3" for="checkbox">Recordarme</label>
          <br>
          <input class="input-2" type="checkbox" name="checkbox">
          <a href="*" class="p-contrasenia"><p>Olvide mi contraseña</p></a>
          <br>
          <button type="submit" class="btn btn-success w-50 button">Iniciar Sesion</button>
          
        </form>
    </div>
    <div class="col-6 autos  col-xl-6 col-sm-12 col-md-12 col-lg-12 col-xs-12 ">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active auto-1" data-bs-interval="3000">

          </div>
         <div class="carousel-item auto-2" data-bs-interval="3000">

          </div>
          <div class="carousel-item auto-3" data-bs-interval="3000">

          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
  </div>
  </div>
</div>
