<div class="detalle-vehiculo-padre">

  <div class="buton">
    <h3>Vehiculo</h3>
      <button mat-button type="button" class="btn button" #asButtonLeft>Asignar Formulario</button>
       <button mat-button type="button" class="btn button-2">Cambiar QR</button>
      <!-- a href="*" class="a-icon-lista"><img class="icon-lista" src="assets/icon-lista.svg" alt="">Lista</a>
      <a href="*" class="a-icon-cuadricula"><img class="icon-cuadricula" src="assets/icon-cuadricula.svg" alt="">Cuadricula</a> -->
  </div>
  <div class="card  col-2 col-xl-2 col-sm-12 col-md-12 col-lg-12 col-xs-12 d-flex flex-column ms-3 me-1 " routerLink="/vehicle">
    <img src="../assets/auto1.jpg" class="card-img-top" alt="..."  >
    <div class="card-body">
      <h6 class="card-text">Vehículo</h6>
      <p class="p">Activo</p>
    </div>
  </div>
</div>
