<div class="detalle-vehiculo-padre">

  <div class="buton">
    <h3>Vehiculo</h3>
      <button mat-button type="button" class="btn button" #asButtonLeft  >Asignar Formulario</button>
       <button mat-button type="button" class="btn button-2" (click)="openDialog()" >Adjuntar Documento</button>
      <!-- a href="*" class="a-icon-lista"><img class="icon-lista" src="assets/icon-lista.svg" alt="">Lista</a>
      <a href="*" class="a-icon-cuadricula"><img class="icon-cuadricula" src="assets/icon-cuadricula.svg" alt="">Cuadricula</a> -->
  </div>
  <div class="card  col-2 col-xl-2 col-sm-12 col-md-12 col-lg-12 col-xs-12 d-flex flex-column ms-3 me-1 " routerLink="/vehicle">
    <img src="../assets/auto1.jpg" class="card-img-top" alt="..."  >
    <div class="card-body">
      <h6 class="card-text">Vehículo</h6>
      <p class="p">Activo</p>
      <img class="img-qr" src="../assets/icon-qr.svg" alt="">
    </div>
  </div>
  <div class="caja-vehiculo d-flex">
        <h3 class="contenido-1">Marca</h3>
        <p class="contenido-2">Chevrolet</p>

        <h3 class="contenido-3">Marca</h3>
        <p class="contenido-4">Chevrolet</p>

        <h3 class="contenido-5">Marca</h3>
        <p class="contenido-6">Chevrolet</p>

        <h3 class="contenido-7">Marca</h3>
        <p class="contenido-8">Chevrolet</p>

        <h3 class="contenido-9">Marca</h3>
        <p class="contenido-10">Chevrolet</p>

        <h3 class="contenido-11">Marca</h3>
        <p class="contenido-12">Chevrolet</p>

        <img src="../assets/icono-lapiz.svg" width="20" style="position: relative; right: 500px; bottom: 120px;">
  </div>

</div>
<!-- <h3 class="contenido">Chevrolet</h3>
<h3 class="contenido">C60</h3> -->
