<div class="asignar-formulario">
  <h3>Agregar Formulario<img class="icono-lapiz" src="../assets/icono-lapiz.svg"></h3>
   <div style="height: 500px; width: 801px; background-color: #F4F4F4; margin-top: -170px;" >
       <h5 style="position: relative; top:15px; left: 30px;">Agregar sección</h5>
        <hr style="position: relative; top: 7px; color: #C5C5C5; width: 780px; left: 8px; z-index: 0;">

 
 <app-formato-respuesta ></app-formato-respuesta>
 <button mat-button type="button" class="btn button" (click)="enviarDatosSeccion()">Agregar</button>


  </div>

  <div style="height: 286px; width: 801px; background-color: #F4F4F4; margin-top: 20px;" >
    <h5 style="position: relative; top:15px; left: 30px;">Configuración del formulario</h5>
     <hr style="position: relative; top: 7px; color: #C5C5C5; width: 780px; left: 8px; z-index: 0;">
     <label for="opciones" style="margin-left: 30px;" >Formato de Respuesta</label>
     <select name="opciones" style="width: 398px; height: 48px; margin-left: 94px; background-color: #EBEBEB; border: none; ">
       <option class="activo" value="Activo">Casillas de selección única</option>
       <option class="inactivo"value="Inactivo">Casillas con tildes y cruces</option>
       <option class="activo" value="Activo">Varias opciones</option>
       <option class="inactivo"value="Inactivo">Foto</option>
       <option class="inactivo"value="Inactivo">Respuesta escrita</option>

     </select>

<br>
<br>
<label for="opciones" style="margin-left: 30px;" >Formato de Respuesta</label>
 <select name="opciones" style="width: 398px; height: 48px; margin-left: 94px; background-color: #EBEBEB; border: none; ">
   <option class="activo" value="Activo">Casillas de selección única</option>
   <option class="inactivo"value="Inactivo">Casillas con tildes y cruces</option>
   <option class="activo" value="Activo">Varias opciones</option>
   <option class="inactivo"value="Inactivo">Foto</option>
   <option class="inactivo"value="Inactivo">Respuesta escrita</option>

 </select>

<label for="nombre" style="margin-left: 30px;">Activar notificación en caso de no ser completado</label>


<mat-slide-toggle style="margin-left: 350px; margin-top: 30px;"></mat-slide-toggle>

</div>
<div style="height: 677px; width: 484px; background-color: #F4F4F4; margin-top: -805px; margin-left: 850px;" >
  <h5 style="position: relative; top:15px; left: 30px;">Secciónes (0)</h5>
   <hr style="position: relative; top: 7px; color: #C5C5C5; width: 780px; left: 8px; z-index: 0;">
   <input type="text" class="input-search" placeholder="Buscar Vehiculo..." style="width:434px; height: 46px; margin-left: 25px; border: none; border-radius: 5px;"><img style="margin-left: -30px;" class="img-search" src="../assets/icon-search.svg" >
  <app-card-seccion-form></app-card-seccion-form>
</div>
</div>
