.asignar-formulario{
   margin-left: 200px;
   width: 100%;
   height: 100%;

}

h3{
  position: relative !important;
  bottom: 200px !important;
}

.icono-lapiz{
  position: relative;
  top:-2px;
  left: 25px;
}

.button{
  background-color: #B6E802;
  width: 150px;
  height: 56px;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-top: 120px;
  margin-left: 530px;
  font-weight: 700;
}

.img-agregar{
  position: relative;
  left: -30px;
}

.otra-class{
  flex: 0 0 auto;
}

.class-heigth{
    height: 1050px;
}

