<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <img class="img-logo" src="../assets/logo/android-chrome-192x192.png" alt="" />
      <h1 class="title-1 mt-2 fw-700">CarMind</h1>
      <h3 class="title-2 fw-400">Ingresá a tu cuenta</h3>
      <form [formGroup]="myForm" (ngSubmit)="login(myForm.value)">
        <div class="form-group mt-3 mb-4">
          <label for="exampleInputEmail1">E-mail</label>
          <input id="emailInput" type="email" formControlName="username" class="form-control" aria-describedby="emailHelp" placeholder="Ingresar email">
          <span class="errorFormLabel" *ngIf="!myForm.get('username')?.valid">{{userError()}}</span>
        </div>
        <div class="form-group mb-3">
          <label for="exampleInputPassword1">Contraseña</label>
          <div class="position-relative">
            <input id="passInput" [type]="this.showPassword ? 'text' : 'password'" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
            <img  (click)='showPasswordEvent()' class="position-absolute add-icon me-3" [src]="this.showPassword ? 'assets/icons/eye-slash.png' : 'assets/icons/eye.png'" alt="">
          </div>
          <span class="errorFormLabel" *ngIf="!myForm.get('password')?.valid">{{passError()}}</span>
        </div>
        <div class="flex"><a href="javascript:void(0)" (click)="changePassword()">Olvidé mi contraseña</a></div>
        <button id="sendButton" [ngClass]="{'m-progress':this._auth.tail.length }" [disabled]="this._auth.tail.length" type="submit" class="btn btn-primary w-100 m-btn-primary mt-4 mb-5" >
          Iniciar sesión</button>
      </form>
    </div>
  </div>
</div>


