<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <img class="img-logo" src="../assets/logo/android-chrome-192x192.png" alt="" />
      <h1 class="title-1 mt-2 fw-700">CarMind</h1>
      <h3 class="title-2 fw-400">Ingresá a su cuenta</h3>
      <form [formGroup]="myForm" (ngSubmit)="login(myForm.value)">
        <div class="form-group mt-5 mb-4">
          <label for="exampleInputEmail1">E-mail</label>
          <input type="email" formControlName="username" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <label for="exampleInputPassword1">Contraseña</label>
        <div class="form-group mb-3">
          <div class="position-relative">
            <input [type]="this.showPassword ? 'text' : 'password'" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            <img  (click)='showPasswordEvent()' class="position-absolute add-icon me-3" src="assets/icons/ant-design_eye-filled.png" alt="">
          </div>
        </div>
        <button [ngClass]="{'m-progress':this._auth.tail.length }" [disabled]="this._auth.tail.length" type="submit" class="btn btn-primary w-100 m-btn-primary mt-4 mb-5" >
          Iniciar sesión</button>
      </form>
    </div>
  </div>
</div>

<div class="center mt-5 mb-5">&nbsp;</div>

