<section class="section-sidebar" >
<div class="clase-padre" #asRigth >
<div class=" row justify-content-center card-padre-1">
<div class="buton">
    <button type="button" class="btn btn-success button" #asButtonLeft>Agregar Vehiculo</button>
    <input type="text" class="input-search" placeholder="Buscar Vehiculo..." #asButtonRigth><img class="img-search" src="../assets/icon-search.svg" #asImgMovie>
</div>
<!-- <div class="input-search">

</div> -->
  <div class="card  col-2 col-xl-2 col-sm-12 col-md-12 col-lg-12 col-xs-12 d-flex flex-column ms-3 me-3 " style="width: 232px; height: 314px;">
    <img src="../assets/auto1.jpg" class="card-img-top" alt="..."  >
    <div class="card-body">
      <h6 class="card-text">Vehiculo</h6>
      <p class="p">Activo</p>
    </div>
  </div>
  <div class="card  col-2 col-xl-2 col-sm-12 col-md-12 col-lg-12 col-xs-12 d-flex flex-column ms-3 me-3 " style="width: 232px; height: 314px;">
    <img src="../assets/auto1.jpg" class="card-img-top" alt="..."  >
    <div class="card-body">
      <h6 class="card-text">Vehiculo</h6>
      <p class="p">Activo</p>
    </div>
  </div>
  <div class="card card-2 col-2 col-xl-2 col-sm-12 col-md-12 col-lg-12 col-xs-12 d-flex flex-column ms-3 me-3  " style="width: 232px; height: 314px;">
    <img src="../assets/auto1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h6 class="card-text">Vehiculo</h6>
      <p class="p">Activo</p>
    </div>
  </div>
  <div class="card card-3 col-2 col-xl-2 col-sm-12 col-md-12 col-lg-12 col-xs-12 d-flex flex-column ms-3 me-3 " style="width: 232px; height: 314px;">
    <img src="../assets/auto1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h6 class="card-text">Vehiculo</h6>
      <p class="p">Activo</p>
    </div>
  </div>
</div>
<div class="row justify-content-center card-padre-2">
  <div class="card col-2 col-xl-2 col-sm-12 col-md-12 col-lg-12 col-xs-12 d-flex flex-column ms-3 me-3   " style="width: 232px; height: 314px;">
    <img src="../assets/auto1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h6 class="card-text">Vehiculo</h6>
      <p class="p">Inactivo</p>
    </div>
  </div>
  <div class="card  col-2 col-xl-2 col-sm-12 col-md-12 col-lg-12 col-xs-12 d-flex flex-column ms-3 me-3 " style="width: 232px; height: 314px;">
    <img src="../assets/auto1.jpg" class="card-img-top" alt="..."  >
    <div class="card-body">
      <h6 class="card-text">Vehiculo</h6>
      <p class="p">Activo</p>
    </div>
  </div>
  <div class="card card-2  col-2 col-xl-2 col-sm-12 col-md-12 col-lg-12 col-xs-12 d-flex flex-column ms-3 me-3 " style="width: 232px; height: 314px;">
    <img src="../assets/auto1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h6 class="card-text">Vehiculo</h6>
      <p class="p">Inactivo</p>
    </div>
  </div>
  <div class="card card-3 card-6 col-2 col-xl-2 col-sm-12 col-md-12 col-lg-12 col-xs-12 d-flex flex-column ms-3 me-3 " style="width: 232px; height: 314px;">
    <img src="../assets/auto1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h6 class="card-text">Vehiculo</h6>
      <p class="p">Inactivo</p>
    </div>
  </div>
</div>
  <nav class="sidebar close" #asToggle  >
      <header>
          <div class="image-text">
              <span class="image prueba" (click)="onClick()"  >
                  <img src="../assets/icon-hamburguesa.svg" alt="">

              </span>
              <span class="text-1 nav-text dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" #asText >Menu </span>


            </div>


        </header>

        <div class="menu-bar">
            <div class="menu">
                <div class="item-active-menu" style="cursor: pointer;">

                    <img class="icon-auto" src="../assets/icon-auto.svg" alt="">

                    <br>

                    <span class="text nav-text dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" #asText>Vehiculos</span>


                    <br>
                </div>









                <img class="icon-check" src="../assets/icon-check.svg" alt="">
                <br>


                <span class="text nav-text dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" #asText>Formulario</span>

                <br>


                <img class="icon-profile" src="../assets/icon-profile.svg" alt="">

                <br>

                <span class="text nav-text dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" #asText>Personal</span>



            </div>

            <!-- <div class="bottom-content">
          <li class="">
              <a href="#">

                  <span class="text nav-text">Logout</span>
              </a>
          </li>



      </div> -->
        </div>

    </nav>
    </div>
</section>
