<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <img class="img-logo" src="../assets/logo/android-chrome-192x192.png" alt="" />
      <h1 class="title-1 mt-2 fw-700">CarMind</h1>
      <h3 class="title-2 fw-400">Ingresá tu nueva contraseña</h3>
      <label for="exampleInputPassword1">Nueva Contraseña</label>
      <form [formGroup]="myForm" (ngSubmit)="changePass(myForm.value)">
        <div class="form-group mb-3">
          <div class="position-relative">
            <input id="passInput" [type]="this.showPassword ? 'text' : 'password'" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
            <img  (click)='showPasswordEvent()' class="position-absolute add-icon me-3" [src]="this.showPassword ? 'assets/icons/eye-slash.png' : 'assets/icons/eye.png'" alt="">
          </div>
        </div>
        <label for="exampleInputPassword1">Verificar Contraseña</label>
        <div class="form-group mb-3">
          <div class="position-relative">
            <input id="rePassInput" [type]="this.showPassword2 ? 'text' : 'password'" formControlName="verifyPassword" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
            <img  (click)='showPassword2Event()' class="position-absolute add-icon me-3" [src]="this.showPassword2 ? 'assets/icons/eye-slash.png' : 'assets/icons/eye.png'" alt="">
          </div>
        </div>
        <button id="sendButton" [ngClass]="{'m-progress':this._auth.tail.length }" [disabled]="this._auth.tail.length" type="submit" class="btn btn-primary w-100 m-btn-primary mt-4 mb-5" >
          Cambiar contraseña</button>
      </form>
      <div class="flex"> <p>¿Ya tienes tu cuenta?</p><p></p> <a href="">Inicia sesión</a>.</div>
  </div>
</div>

<div class="center mt-5 mb-5">&nbsp;</div>

