
<mat-dialog-content>

 <h3 style="font-size: 22px; font-weight: 700;">Nuevo Vehiculo</h3>
 <span mat-dialog-close class="span-cerrar"><img src="../assets/icon-cerrarModal.svg" alt="" style="margin-left: 600px; position: relative; bottom: 40px; z-index: 1;"></span>
 <hr style="position: relative; bottom: 20px; opacity: 0.1;">

 <label for="nombre">Nombre</label>

 <input name="nombre" class="nombre" type="text" style="width: 398px; height: 48px; margin-left: 100px; background-color: #EBEBEB; border: none;" placeholder="Escribe el Nombre del Vehiculo...">
 

 <!-- <label for="nombre">N° interno</label>

 <input name="nombre" class="nombre" type="text" style="width: 398px; height: 48px; margin-left: 88px; background-color: #EBEBEB; border: none;" placeholder="Escribe el Nombre del Vehiculo..."> -->
 <br>
 <br>
 <label for="nombre">Patente</label>


 <input name="nombre" class="nombre" type="text" style="width: 398px; height: 48px; margin-left: 105px; background-color: #EBEBEB; border: none;" placeholder="Escribe el Nombre del Vehiculo...">

 <br>
 <br>
 <label for="opciones">Tipo</label>
 <select name="opciones" style="width: 398px; height: 48px; margin-left: 127px; background-color: #EBEBEB; border: none;">
   <option value="Auto">Auto</option>
   <option value="Camion">Camion</option>
   <option value="Camioneta">Camioneta</option>
   <option value="Maquinaria Pesada">Maquinaria Pesada</option>
 </select>
 <br>
 <br>
 <button mat-button type="button" class="btn button">Agregar</button>
 <button mat-dialog-close mat-button type="button" class="btn button-2">Cancelar</button>

</mat-dialog-content>

