input[type="file"]#mi-archivo {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  }

  .adjuntar-img{
    position: relative;
    left: 108px;
    cursor: pointer;
    color: #000853;
  }

select option{
  padding-right: 50px;
}

input{
  outline: none;
  text-indent: 20px;

}



.img-default{
  position: relative;
  left: 250px;
 padding-top: 40px;
}


