input[type="file"]#mi-archivo {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  }

  .adjuntar-img{
    position: relative;
    left: 108px;
    cursor: pointer;
    color: #000853;
  }

select option{
  padding-right: 50px;
}

input{
  outline: none;
  text-indent: 20px;

}



.img-default{
  position: relative;
  left: 250px;
 padding-top: 40px;
}

.button{
  background-color: #B6E802;
  width: 150px;
  height: 56px;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-top: 10px;
  margin-left: 250px;
  font-weight: 700;
}

.button-2{
  background-color: #949494;
  width: 150px;
  height: 56px;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-top: 10px;
  margin-left: 10px;
  font-weight: 700;
}


