<form [formGroup]="form" #ngForm="ngForm" (ngSubmit)="action()">
    <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Nombre identificador</label>
        <div class="col-sm-10">
            <div class="input-group has-validation inputMar">
                <input id="nameInput" type="text" formControlName="nombre" placeholder="Escribe el nombre del vehículo..." class="form-control" [ngClass]="{'is-invalid': getControl('nombre')?.invalid && (getControl('nombre').touched || ngForm.submitted) }" value="">
                <div class="invalid-feedback">
                    Este campo es requerido
                </div>
            </div>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Patente</label>
        <div class="col-sm-10  has-validation">
            <input id="patentInput" type="text" formControlName="patente" [ngClass]="{'is-invalid': getControl('patente')?.invalid && ((getControl('patente').touched  || ngForm.submitted) )  }" class="form-control" value="">
            <div class="invalid-feedback">
                Este campo es requerido
            </div>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Tipo</label>
        <div class="col-sm-10  has-validation">
            <p-dropdown id="typeButton"  appendTo="body" class="select2carMind" [options]="type.tipo_vehiculo" [(ngModel)]="tipo" formControlName="tipo" [style]="{'width':'100%'}">
                <ng-template pTemplate="selectedItem">
                    <div class="select2CarMind-option-item tipo-item-value px-3 py-0" *ngIf="tipo">
                        <img [src]="'assets/icons/'+quitarAcentos(tipo)+'.png'" />
                        <div class="fw-400">{{tipo}}</div>
                    </div>
                </ng-template>
                <ng-template let-tipo pTemplate="item">
                    <div class="select2CarMind-option-item px-3 py-1">
                        <img [src]="'assets/icons/'+quitarAcentos(tipo)+'.png'" />
                        <div class="fw-400">{{tipo}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            <div class="invalid-feedback">
                Es requerido
            </div>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-sm-3">
            <button id="addButton" type="submit" [ngClass]="{'m-progress':this._app.tail.length }" [disabled]="this._app.tail.length" class="btn btn-success m-btn-success m-btn w-100">{{ "Agregar" }}</button>
        </div>
    </div>
</form>
