<div class="m-container clase-padre">
  <div class="container">
    <div class="row justify-content-center mt-4">
      <div class="col-10 mt-4 mb-4">
        <div class="mb-4"></div>
        <h3>Formularios</h3>
      </div>
    </div>
    <div class="row justify-content-center mt-4">
      <div class="col-lg-10">
        <div class="row justify-content-between">
          <div class="col-lg-3 col-xs-10 mb-4">
            <button (click)="create()" class="btn btn-success m-btn-success m-btn w-100 truncate">
              Crear formulario
            </button>
          </div>
          <div class="col-lg-3 col-xs-10 mb-4">
            <div class="pull-right w-100">
              <div class="form-group">
                <div class="inner-addon right-addon">
                  <i class="fa fa-search"></i>
                  <input
                    type="text"
                    [(ngModel)]="filterInput"
                    class="form-control w-100"
                    name="filterInput"
                    aria-describedby="emailHelp"
                    placeholder="Buscar formulario"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-4 noselect">
      <div class="col-lg-10" style="overflow: auto">
        <div class="d-flex flex-row justify-content-between">
          <ng-container *ngIf="allForms | async | filterPipe:{ term: this.filterInput , condition: this.filterConditionForm, empty:this.formDefault  }  as forms;">
            <div class="arrow-div">
              <div (click)="previousSlide(forms)" [ngClass]="{ 'arrow-disabled': this.slideIndex===0  }" class="form-arrow arrow-left pointer">
                <i class="fa fa-angle-left"></i>
              </div>
            </div>
            <m-form-card [flicker]="flicker" *ngFor="let form of getFormSlider(forms);" [name]='form.titulo' ></m-form-card>
            <div class="arrow-div ">
              <div (click)="nextSlide(forms)" [ngClass]="{ 'arrow-disabled': (this.slideIndex+this.slideCant) === forms.length ||  forms.length===1 }" class="form-arrow arrow-right pointer">
                <i class="fa fa-angle-right"></i>
              </div>
            </div>
        </ng-container>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-4">
      <div class="col-lg-10">
       <h4 class="mb-5 mt-4">Formularios recientes</h4>
        <!-- table -->
        <div *ngIf="evaluationHistory | async as history;">
          <div class="dyTableContainer px-0 mb-4">
            <div class="dyTable">
              <div class="d-flex flex-row dyItem" [style.minWidth]="100 * columns+'px'">
                <div [style.width.%]="(100 / columns) * 2" class="px-3 fw-300 dyCol">Formulario</div>
                <div [style.width.%]="(100 / columns) * 2" class="px-3 fw-300 dyCol">Fecha</div>
                <div [style.width.%]="100 / columns" class="px-3 fw-300 dyCol">Vehículo</div>
                <div [style.width.%]="100 / columns" class="px-3 fw-300 dyCol">Conductor</div>
                <div [style.width.%]="100 / columns" class="px-3 fw-300 dyCol">Estado</div>
                <div [style.width.%]="100 / columns" class="text-end px-3 fw-300 dyCol"></div>
              </div>
              <ng-container *ngFor="let evaluation of history | filterPipe : { term: this.filterInput , condition: this.filterCondition, empty: this.default  } ;">
                <div  class="d-flex flex-row dyItem" [style.minWidth]="100 * columns+'px'">
                  <div [style.width.%]="(100 / columns) * 2" class="px-3 dyCol">{{ evaluation.nombre_evaluacion }}</div>
                  <div [style.width.%]="(100 / columns) * 2" class="px-3 dyCol truncate">{{ evaluation.fecha }}</div>
                  <div [style.width.%]="100 / columns" class="px-3 dyCol">{{ evaluation.nombre_vehiculo }}</div>
                  <div [style.width.%]="100 / columns" class="px-3 dyCol">{{ evaluation.nombre_usuario }}</div>
                  <div [style.width.%]="100 / columns" class="px-3 dyCol">{{ evaluation.nombre_evaluacion!=="-"  ? "Completo":"-" }}</div>
                  <div [style.width.%]="100 / columns" class="text-center px-3 dyCol">
                    <i (click)="viewForm(evaluation.log_id)" class="fa fa-eye pull-right pointer mx-2" aria-hidden="true"></i>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <!-- /table fin  -->
      </div>
    </div>
  </div>
</div>
